@import '../../assets/scss/main.scss';

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;
	padding: 70px 20px;

	&Line {
		font-size: 24px;
		text-align: center;
		color: var(--text-color-dark);
	}

	&Invite {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		&__title {
			font-size: 44px;
			line-height: 1;
			letter-spacing: 0.05em;
			text-align: center;
			color: var(--text-color-dark);

			span {
				font-family: 'Antarctic', sans-serif;
				letter-spacing: 0;

				font-size: 74px;
				line-height: 0.5;
			}
		}

		&__text {
			font-size: 24px;
			line-height: 110%;
			letter-spacing: 0.05em;
			text-align: center;
			color: var(--text-color-dark);
		}
	}

	&Date {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		&__title {
			font-family: 'Antarctic', sans-serif;
			font-size: 84px;
			line-height: 1;
			text-align: center;
			color: var(--text-color-dark);
		}

		&__text {
			font-size: 24px;
			line-height: 1.1;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			text-align: center;
			color: var(--text-color-dark);
		}

		&__calendar {
			position: relative;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-row-gap: 20px;
			width: 300px;

			&Item {
				font-size: 24px;
				line-height: 110%;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				text-align: center;
				color: var(--text-color-dark);
			}

			&Heart {
				position: absolute;
				top: 82px;
				right: -3px;
			}
		}
	}
}
